html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: darkgreen;
  height: 100vh;
}

main {
  border: 1px solid red;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 50%;
  border: 3px solid limegreen;
}

#status {
  margin-left: auto;
  padding: 5px;
}

#brand {
  display: none;
}

#occupation {
  background-color: grey;
  width: 100%;
  text-align: center;
}

#contact {
  display: flex;
  border: 1px solid red;
  width: 100%;
}

#contact p{
  width: 50%;
  border: 1px solid blue;
  text-align: center;
  padding: 25px;
  margin: 0;
  background-color: limegreen;

}
#contact p:first-child{
  background-color: #309230;
}
/*change display to grid*/
@media screen and (min-width: 600px){
  main {
    width: 700px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "status name"
      "img occupation"
      "img brand"
      "contact offer";
  }
  #status {
    grid-area: status;
    margin-right: auto;
    width: 100%;
    border: 1px solid red;
  }
  #name {
    grid-area: name;
    margin-left: 20px;
    border: 1px solid red;
  }
  img {
    grid-area: img;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #occupation {
    grid-area: occupation;
    margin-left: 20px;
    text-align: left;
    width: 95%;
  }
  #brand {
    grid-area: brand;
    display: flex;
    border-left: 2px solid green;
    margin-left: 20px;
    padding: 10px;
  }
  
  #contact {
    grid-area: contact;
  }
  #offer {
    grid-area: offer;
    margin-left: 20px;
  }

}